[submodule "cisco-snmp-rce"]
	path = cisco-snmp-rce
	url = https://github.com/GarnetSunset/cisco-snmp-rce
	branch = master
[submodule "spectre-chrome"]
	path = spectre-chrome
	url = https://github.com/ascendr/spectre-chrome
	branch = master
[submodule "CVE-2018-0296"]
	path = CVE-2018-0296
	url = https://github.com/yassineaboukir/CVE-2018-0296
